<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.nproject.mapper.MetaStdWordMapper">

    <select id="selectStdWordList" parameterType="com.example.nproject.dto.MetaStdWordDto" resultType="com.example.nproject.dto.MetaStdWordDto">
        SELECT 
            word_id as wordId,
            std_word_name as stdWordName,
            eng_abbr_name as engAbbrName,
            eng_full_name as engFullName,
            definition,
            domain_type as domainType,
            use_yn as useYn
        FROM meta_std_word
        <where>
            <if test="stdWordName != null and stdWordName != ''">
                AND std_word_name LIKE '%' || #{stdWordName} || '%'
            </if>
        </where>
        ORDER BY word_id
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countStdWordList" parameterType="com.example.nproject.dto.MetaStdWordDto" resultType="int">
        SELECT COUNT(*)
        FROM meta_std_word
        <where>
            <if test="stdWordName != null and stdWordName != ''">
                AND std_word_name LIKE '%' || #{stdWordName} || '%'
            </if>
        </where>
    </select>

    <update id="updateStdWord" parameterType="com.example.nproject.dto.MetaStdWordDto">
        UPDATE meta_std_word
        SET
            std_word_name = #{stdWordName},
            eng_abbr_name = #{engAbbrName},
            eng_full_name = #{engFullName},
            definition = #{definition},
            domain_type = #{domainType},
            use_yn = #{useYn}
        WHERE word_id = #{wordId}
    </update>

    <select id="selectStdWord" parameterType="long" resultType="com.example.nproject.dto.MetaStdWordDto">
        SELECT
            word_id as wordId,
            std_word_name as stdWordName,
            eng_abbr_name as engAbbrName,
            eng_full_name as engFullName,
            definition,
            domain_type as domainType,
            use_yn as useYn
        FROM meta_std_word
        WHERE word_id = #{wordId}
    </select>

</mapper>
