<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>알림</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var message = [[${ message }]];
        var searchUrl = [[${ searchUrl }]];

        if (message) {
            alert(message);
        }

        if (searchUrl) {
            location.href = searchUrl;
        } else {
            history.back();
        }
        /*]]>*/
    </script>
</head>

<body>

    <!-- 공통 헤더 스크립트 추가 -->
    <script src="/js/header.js"></script>
</body>

</html>
